/* Container for the text and images */
.container13 {
  background-color:beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
  }
  
  /* Style for the text section */
  .text-container13 {
    margin-bottom: 20px;
  }
  
  h1 {
    margin: 5px 0;
    font-size: 24px;
    color: #333;
  }
  .e3{
    color: black;
  }
  
  h1:first-of-type {
    font-size: 48px;
  }
  
  /* Container for the images and their descriptions */
  .img-container13 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust the gap between images and texts */
  }
  
  .img-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .img-container {
      flex-direction: column;
    }
  
   
  }
  